#index-background {
	background-color: white;
	height: 100vh;
	width: 100vw;
}

nav {
	background-color: #323dbc;
	/*border: thin;
	border-style: solid;*/
}

div.nav-wrapper a {
	color: #ffffff;
}

#logo-plain {
	height: 56px;
	width: 90px;
	overflow: none;
}

#brand-logo {
}

#login {
	margin: 5%;
	margin-left: 50%;
}


/*#container {
	border-color: black;
	border: thin;
	border-style: solid; 
	margin: 3%;
}
*/
#title {
	margin: 5%;
	display: inline-block;
}

#content {
	display: inline-block;

}