#index-background {
	background-color: white;
	height: 100vh;
	width: 100vw;
}

nav {
	background-color: #323dbc;
	/*border: thin;
	border-style: solid;*/
}

div.nav-wrapper a {
	color: #ffffff;
}

#logo-plain {
	height: 56px;
	width: 90px;
	overflow: none;
}

#brand-logo {
}

#login {
	margin: 5%;
	margin-left: 50%;
}

#title {
	margin: 10%;
	display: inline-block;
}

#content {
	display: inline-block;

}

#addedit {
	height: 30%;
	width: 30%;
	margin-left: 20%;
	margin: 5%;
}